:root {
  --primary-color: #dd2e18;
  --secondary-color: #ffab00;
  --tertiary-color: #534e4a;
  --background-color: #efebe7;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-famuly: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 800;
  color: var(--primary-color);
  line-height: 0.8;
  margin-top: 250px;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 80px;
}

.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

.homepage-projects {
  margin: 170px 0;
}

.homepage-projects h2 {
  font-size: 44px;
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--tertiary-color);
  padding: 50px 0px;
}

.homepage-projects p {
  font-size: 14px;
  font-family: var(--default-font-famuly);
  color: var(--tertiary-color);
  line-height: 30px;
}

.weather-app {
  text-align: right;
}

.project-description {
  padding: 0px 60px;
}

.row {
  margin-top: 60px;
}
