:root {
  --primary-color: #994828;
  --secondary-color: #7c9465;
  --tertiary-color: #322218;
  --background-color: #92816d;
  --quarternary-color: #dbdbdbc5;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-famuly: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  margin: 0px 150px;
}

nav {
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  line-height: 42px;
  margin-left: 15px;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 150ms ease;
}

nav a:hover,
nav li.active a {
  color: #4e643a;
}

.hero {
  text-align: center;
  padding: 100px 60px;
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 160px;
  font-weight: 800;
  color: var(--primary-color);
  line-height: 0.8;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
}

.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

.page-content {
  background-color: var(--quarternary-color);
  padding: 50px;
  border-radius: 5px;
}

.homepage-projects h2 {
  font-size: 44px;
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--tertiary-color);
}

.homepage-projects p {
  font-size: 14px;
  font-family: var(--default-font-famuly);
  color: var(--tertiary-color);
  line-height: 30px;
}

.weather-app {
  text-align: right;
}

.project-description {
  padding: 0px 60px;
}

.homepage-projects .row {
  padding: 60px 80px;
}

.first-row {
  border-right: solid;
  border-bottom: solid;
  border-color: var(--secondary-color);
}

.second-row {
  border-left: solid;
  border-color: var(--secondary-color);
}

img {
  border-radius: 5px;
}

footer .inquiry-card {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
  padding: 30px 60px;
  border-radius: 5px;
}

footer .inquiry-card h2 {
  font-family: var(--heading-font-family);
  font-size: 32px;
}

footer .inquiry-card p,
open-source-link {
  font-family: var(--default-font-famuly);
  font-size: 14px;
}
footer .inquiry-card .btn-branding {
  margin: 20px;
}
.content-container {
  padding: 100px 60px 50px 60px;
}

.content h1 {
  font-family: var(--heading-font-family);
  font-size: 32px;
  color: var(--tertiary-color);
}

.content h2 {
  font-size: 20px;
  font-family: var(--heading-font-family);
  color: var(--tertiary-color);
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-famuly);
  color: var(--tertiary-color);
}

.content p {
  font-size: 14px;
  font-family: var(--default-font-famuly);
  color: var(--tertiary-color);
  line-height: 25px;
}

.content {
  margin: 0 30px 20px 30px;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 20px;
  transition: all 150ms ease;
}

footer .email-link:hover {
  color: #4e643a;
}

.social-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  margin: 10px;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 50%;
  background-color: #a8a8a82b;
}

.social-links a:hover {
  color: #4e643a;
}

@media (max-width: 960px) {
  .project-description {
    text-align: center;
    padding: 0;
  }
  .homepage-projects h2 {
    font-size: 30px;
    text-align: center;
  }
  .hero h1 {
    font-size: 90px;
  }
  .homepage-projects {
    margin: 10px;
  }
  .homepage-projects .row {
    padding: 40px;
  }
  .content-container {
    text-align: center;
    padding: 40px 10px;
  }
}
