:root {
  --primary-color: #dd2e18;
  --secondary-color: #ffab00;
  --tertiary-color: #534e4a;
  --background-color: #e5e5e5;
  --heading-font-family: "Montserrat", sans-serif;
  --default-font-famuly: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 160px;
  font-weight: 800;
  color: var(--primary-color);
  line-height: 0.8;
  margin-top: 100px;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.btn-branding {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

.homepage-projects {
  margin: 70px 80px;
}

.homepage-projects h2 {
  font-size: 44px;
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--tertiary-color);
  padding: 30px 0px;
}

.homepage-projects p {
  font-size: 14px;
  font-family: var(--default-font-famuly);
  color: var(--tertiary-color);
  line-height: 30px;
}

.weather-app {
  text-align: right;
}

.project-description {
  padding: 0px 60px;
}

.homepage-projects .row {
  padding: 60px 80px;
}

@media (max-width: 960px) {
  .project-description {
    text-align: center;
    padding: 0;
  }
  .homepage-projects h2 {
    font-size: 35px;
  }
  .hero h1 {
    font-size: 120px;
  }
}

.first-row {
  border-right: solid;
  border-bottom: solid;
  border-color: var(--primary-color);
}

.second-row {
  border-left: solid;
  border-color: var(--primary-color);
}

img {
  border-radius: 5px;
}

.inquiry-card {
  margin: 50px auto;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 5px;
  padding: 20px 40px 0px 30px;
}

.btn-contact {
  text-align: right;
}

.inquiry-card h2 {
  font-family: var(--heading-font-family);
  font-size: 32px;
}

.inquiry-card p {
  font-family: var(--default-font-famuly);
}

.card .btn-branding {
  margin-top: 15px;
}
